@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    height: 100px;
}

.logo img {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(70, 70, 70);
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.nav-links a:hover {
    color: #383fb5;
}

.search-box {
    position: relative;
    margin-right: 100px;
    justify-content: center;
}

.search-box input {
    padding: 15px;
    font-size: 16px;
    width: 290px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.search-box input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.search-box i {
    position: absolute;
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;
    font-size: 17px;
    z-index: 1;
}

.login-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6b71d4;
    color: white;
    border: none;
    border-radius: 13px;
    width: 110px;
    height: 45px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #0056b3;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
}

.content {
    flex: 1;
    margin-right: 20px;
}

.content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #595fd1;
    margin-left: 170px;
    margin-right: 120px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.content p {
    font-size: 18px;
    color: #666;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 170px;
}

.content .search-box {
    margin-left: 170px;
}

.content .search-box input {
    height: 30px;
    padding: 15px;
    font-size: 16px;
    width: 340px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.get-started-button {
    padding: 5px;
    font-size: 16px;
    background-color: #6b71d4;
    color: white;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    cursor: pointer;
    margin-left: 170px;
    margin-top: 15px;
}

.get-started-button:hover {
    background-color: #373fd7;
}

.image {
    flex: 1;
    text-align: right;
}

.image img {
    max-width: 100%;
    height: auto;
}

.browse {
    text-align: center;
    margin-top: 50px;
}

.browse h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #6b71d4;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.browse p {
    font-size: 17px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.browse .input-group {
    display: flex;
    align-items: center;
    width: 900px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
}

.browse .input-group .form-control {
    border: none;
    height: 60px;
    width: 500px;
}

.browse .input-group .form-select-price {
    color: red;
    height: 60px;
    margin-left: 5px;
    border: 1px solid #ebebeb;
}

.browse .input-group .form-select-days {
    color: rgb(46, 46, 203);
    height: 60px;
    margin-left: 5px;
    border: 1px solid #ebebeb;
    overflow: hidden;
}

.sell {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
    width: 24rem;
    border: 7px solid #ddd;
}

.card-body {
    display: flex;
    flex-direction: row;
}

.card h6 {
    padding: 15px;
    text-align: start;
    color: #6b71d4;
}

.card-body p {
    color: #000000;
    font-size: 17px;
}

.card-footer {
    background-color: #6b71d4;
}

.card-footer .btn-block {
    width: 100%;
    padding: 10px 0;
    padding: 5px;
    font-size: 16px;
    background-color: #6b71d4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card-body .card-price {
    display: flex;
    flex-direction: row;
}

.card-body .card-right {
    margin-left: 50px;
}

.renting-buying h1 {
    font-weight: bold;
    margin-right: 7px;
}

.renting-buying {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.vs {
    margin-top: none;
    text-align: center;
}

.benefits {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.benefits .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefits .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 160px;
    margin-left: 60px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefits .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.benefits .card-body {
    display: flex;
    flex-direction: column;
}

.benefits h5 {
    color: #595fd1;
    font-weight: bold;
}

.benefits .card-text {
    font-size: 13px;
    color: #000000;
    margin-bottom: 0;
}

.benefits .card-small {
    font-size: 9px;
    font-weight: bold;
    background-color: #b1b1b176;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 17px;
}

.benefits .row {
    margin-right: 60px;
}

.platform-statistics {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.platform-statistics h1 {
    font-weight: bold;
}

.statistics-cards .card-body-statistics {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.statistics-cards {
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: space-evenly;
}

.statistics-cards .card {
    height: 120px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statistics-cards .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.statistics-cards .card p {
    margin-left: 15px;
    font-size: 15px;
}

.card-body-statistics h5 {
    padding: 0px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
}

.statistics img {
    width: 1400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.imagem {
    text-align: center;
}

.statistics {
    display: flex;
    flex-direction: column;

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bf71ff;
    padding: 20px;
    height: 100vh;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.form-instrument {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.form-instrument h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    margin-right: 200px;
}

.form-instrument p {
    margin-bottom: 20px;
    color: white;
}

.mb-3 {
    margin-bottom: 20px;
}

.mb-3 label {
    color: white;
}

.mb-3 input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.get-started {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #6b71d4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



.form-instrument-image img {
    width: 70%;
    height: 100vh;
    border-radius: 8px;
    margin-left: 300px;
}

.buttons-table {
    margin-left: 35px;
    margin-bottom: 80px;
}

.buttons-table .btn-custom-purple {
    background-color: white;
    color: #6b71d4;
    border-color: #6b71d4;
}

.buttons-table .btn-custom-purple:hover {
    background-color: #5a60b8;
    color: white;
}

.table {
    justify-content: center;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.table-things img {
    width: 100%;
}

.rainbow-text {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5baff;
    font-size: 80px;
    font-weight: bold;
    background-image: linear-gradient(90deg, 
                                      red, 
                                      orange, 
                                      yellow, 
                                      green, 
                                      blue, 
                                      indigo, 
                                      violet);
    background-size: 400%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}